{% extends 'base.html.twig' %}

{% block title %}New Events
{% endblock %}

{% block body %}
	<h1>Create new Events</h1>

	{{ include('events/_form.html.twig') }}

	<a href="{{ path('app_events_index') }}" class="btn btn-outline-primary my-2">back to list</a>
{% endblock %}
